
@import '//fonts.googleapis.com/css?family=Lato:400,400italic|Arvo:700,400,400italic';



//small screen sizes
// 812 coresponds to iphone-x
@media only screen and  (max-width: 813px) {
  .jcarousel-control-prev, .jcarousel-control-next {
    display:none !important;
  }

  .jcarousel-pagination{
    bottom: 39% !important;
    left: 39% !important;
  }

  .jcarousel-pagination a {

    font-size: 3.0vw;
    height: 2.9vw;
    width: 2.9vw;
    line-height: 2.9vw;
  }
  .caption-container{
    height: 100%;
    overflow:visible;
  }
}





.wrapper {
  padding: 0 20px 20px 20px;
  margin: auto;
}

.jcarousel-wrapper {
  margin: 20px auto;
  position: relative;
/*
border: 10px solid #fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;

-webkit-box-shadow: 0 0 2px #999;
-moz-box-shadow: 0 0 2px #999;
box-shadow: 0 0 2px #999;
*/
}

/** Carousel **/

.jcarousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.jcarousel ul {
  width: 20000em;
  min-width: 2000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jcarousel li {
 /* width: 200px; */
  float: left;
  border: 1px solid #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 200px;
  padding: 2px;
}

.jcarousel img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  top: 50%;

  margin-top: -130px;
  width: 30px;
  height: 30px;
  text-align: center;
  //background: #ffffff;
  color: #fff !important;
  text-decoration: none;
  //text-shadow: 0 0 1px #000;
  font: 5em "Courier New", Courier, monospace;
  -webkit-text-stroke: .1px #FFF;
  // -webkit-border-radius: 30px;
  //-moz-border-radius: 30px;
  // border-radius: 30px;
  // -webkit-box-shadow: 0 0 4px #333;
  // -moz-box-shadow: 0 0 4px #333;
  // box-shadow: 0 0 4px #333;
  //display: none;
  display: block;
  fill: #ffffff;
}






.jcarousel-control-prev {
  left: 10px;
}

.jcarousel-control-next {
  right: 38px;
}

/** Carousel Pagination **/

/** these are the bubbles that indicate the relative position of the image you are viewing **/

.jcarousel-pagination {
  position: absolute;
  bottom: 27%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);

}


.jcarousel a:visited {
  color: #ffffff !important;
}

.jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;
  font-size: 1.0vw;
  height: .9vw;
  width: .9vw;
  line-height: .9vw;
  color: #fff;
  border-radius: 15px;
  text-indent: -9999px;
  margin-right: 7px;
  -webkit-box-shadow: 0 0 2px #fff;
  -moz-box-shadow: 0 0 2px #fff;
  box-shadow: 0 0 2px #fff;
}



.jcarousel-pagination a.active {
  background: #fff;
  color: #fff;
  opacity: 1;
  font-size: 1.3vw;
  height: 1.2vw;
  width: 1.2vw;
  line-height: 1.2vw;

  -webkit-box-shadow: 0 0 4px #fff;
  -moz-box-shadow: 0 0 4px #fff;
  box-shadow: 0 0 4px #fff;
}

.carousel-caption{
  text-align: left;
  font-size: 1rem;
  padding-left: 3px;
  padding-right: 3px;
}

.carousel-caption em{
  font-size: .75vh;
}

.acc-gallery-photo-carousel {
  margin: 0;
  min-width:200px;
  width: 100%;
  /*margin-right: 0.5em;*/
  margin-bottom: 0.5em;
  flex-grow: 1;
  flex-shrink: 1;
}

.show-all-link {
  float:right;
  margin-right:30px;
  margin-top: -30px;
}

.caption-container{
  padding-left: 3px;
  padding-right: 3px;

}
