{% assign block = include.block %}

{% if block.title %}<h3 class="acc-content-block-header" style="margin-top: .5em;">{{ block.title }}</h3>{% endif %}
<span class="show-all-link">
  {% if block.title == "Facility Photos" %}
    <a href="/facility-photos">Show All</a>
  {% endif %}
  {% if block.title == "Event Photos" %}
    <a href="/events-photos">Show All </a>
  {% endif %}
  {% if block.title == "Set Photos"%}
    <a href="/sets-photos">Show All </a>
  {% endif %}
</span>


<script src="https://code.jquery.com/jquery-1.8.2.min.js" type="text/javascript"></script>
  <div class="wrapper"  id="carousel_{{ block.sys.id }}">
    <div class="jcarousel-wrapper">
        <div class="jcarousel" >
            <ul style="display:flex;">
                {% for gallery_image in block.galleryImages %}
                  {% assign image = gallery_image.image %}

                  {% if image.url %}
                    <li>
                      <div itemscope itemtype="http://schema.org/ImageGallery" data-gid="{{ block.sys.id }}" class="acc-gallery  acc-gallery-thumbnails">

                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" data-index="{{ forloop.index0 }}" data-pid="{{ image.sys.id }}" class="acc-gallery-photo acc-gallery-photo-carousel" style="width: 99%;padding-left:3px;padding-right: 3px;">

                          <a href="{{ image.url }}?w=1800" itemprop="contentUrl" data-width="{{ image.width }}" data-height="{{ image.height }}" data-url="{{ image.url }}">
                            <img src="{{ image.url }}?w=330&h=220&fit=thumb"
                                 srcset="{{ image.url }}?w=990&h=660&fit=thumb 3x,
                          {{ image.url }}?w=660&h=440&fit=thumb 2x,
                          {{ image.url }}?w=330&h=220&fit=thumb"
                                 itemprop="thumbnail" alt="{{ title | default: image.title }}"  />
                          </a>

                          {% if block.showCaptions or gallery_image.caption != empty %}
                            <figcaption class="acc-gallery-caption caption-container" itemprop="caption description">{{ gallery_image.caption | default: gallery_image.title | markdownify }}</figcaption>
                          {% endif %}

                        </figure>
                      </div>
                    </li>
                  {% endif %}
                {% endfor %}
            </ul>


        </div>

        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next">&rsaquo;</a>

        <p class="jcarousel-pagination"></p>

    </div>


  </div>
<script>

</script>




{% javascript carousel/jcarousel %}
{% javascript carousel/jcarousel.responsive %}
{% javascript carousel/jquery.jcarousel-swipe %}
